<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A personal website for Timothy Thomas">
    <meta name="author" content="Timothy Thomas">
    <title>Tim Thomas Portfolio</title>
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/freelancer.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Faster+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <!-- Syntax Highlighter CSS -->
    <link href="~/Content/SyntaxHighlighter/shCoreRDark.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shThemeRDark.css" rel="stylesheet" />
    <!--Tab Icon-->
    <link rel="icon" href="@Url.Content("~/img/monitor164.png")">
    <!-- Custom Fonts -->
    <link href="~/font-awesome/font-awesome.css" rel="stylesheet" />

</head>
<body id="page-top" class="index">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <!-- Navigation -->
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "activeNav" : "")">@Html.ActionLink("Tim Thomas", "Index", "TT", new { @class = "top-link", id = "mainPage" })</span>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll @(ViewContext.RouteData.Values["Action"].ToString() == "Portfolio" ? "activeNav" : "")">
                            @Html.ActionLink("Portfolio", "Portfolio", "TT")
                        </li>
                        <li class="page-scroll @(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "activeNav" : "")">
                            @Html.ActionLink("About", "About", "TT")
                        </li>
                        <li class="page-scroll @(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "activeNav" : "")">
                            @Html.ActionLink("Contact", "Contact", "TT")
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Location</h3>
                        <p>Raleigh, NC</p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.linkedin.com/in/timthomas7" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/timthomas300" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Tim Thomas 2016
                    </div>
                    <br />
                    <br />
                    <div class="flatIcons">
                        Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
                        <br />is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

        <!-- jQuery -->
        <script src="~/js/jquery.js"></script>
        <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <!--Bootstrap Core JavaScript-->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="~/js/classie.js"></script>
        <script src="~/js/cbpAnimatedHeader.js"></script>
        <!-- Contact Form JavaScript -->
        @*<script src="~/js/jqBootstrapValidation.js"></script>*@
        @*<script src="~/js/contact_me.js"></script>*@
        <!-- Syntax Highlighter JavaScript -->
        <script src="~/Scripts/SyntaxHighlighter/shCore.js"></script>
        <script src="~/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
        <script type="text/javascript">
        SyntaxHighlighter.all();
        </script>

</body>
</html>
