@model IEnumerable<FirstTestMVC.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.Raw(item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>*@
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blog</h2>
                <hr class="star-primary">
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
@foreach (var item in Model)
{

                <div class="post-preview">
                    <a href="@Url.Action("Details", new { slug = item.Slug })">
                        <h3 class="post-title">
                            @Html.DisplayFor(modelItem => item.Title)
                        </h3>
                        <h3 class="post-subtitle">
                            @Html.Raw(item.Body)
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Tim Thomas</a> @Html.DisplayFor(modelItem => item.Created)</p>
                </div>
                <hr>
}
            </div>
        </div>
    </div>
</section>
            